.foto{
    width: 350px;
    margin: 50px;
    padding-left: 100px;
}
.Portifolio-content{
    display: flex;
    text-align: center;
    align-items: center;
    margin: 50px;
    background-color: rgba(228, 166, 175, 0.918);
}
.texto-portifolio{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 90px;
    padding: 15px;
    display: flex;

}
.h1{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    justify-content: center;
}
